<div class="container">
  <div class="media-cards">
    <% @categories.each do |category| %>
      <div class="category-title">
        <h3><%= link_to category.name.capitalize + 's', category_path(category), class: 'categ-link' %></h3>
        <div class="red-square"></div>
      </div>
        <div class="category-row">
          <% Media.where(category: category).each do |media| %>
            <% media.photos.each do |photo| %>
                <div class="media-card" style="background-image: url('<%= image_path photo.url, crop: :fill;%>'); background-size: cover;">
                </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
