<div class="container">

  <div class="media-desc">
    <h1><%= @media.title %></h1>
    <p><%= @media.tags.first.name %></p>
  </div>

  <div class="media-photo">
    <%= @media.photos.first.url %>
  </div>

</div>


