.display-unavailable-medias {
  width: 1000px;
  margin: auto;
  h4 {
    color: white;
    margin-top: 15px;
    a {
      color: white;
    }
    a:hover {
      opacity: 0.7;
      color: white;
    }
  }

}

.red-wrapper {
  background-color: $brand-primary;
  padding-top: 10px;
}
