<div class="container" id="profile-container">
  <div class="fiche">
    <div>
      <h1>My Profile</h1>
      <br><br>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <%= link_to 'Edit', edit_user_path(@user), class:'btn-wall' %>
    </div>
    <div>
      <%= cl_image_tag @user.photo, class:'profile-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
    </div>
  </div>
</div>
