<div class="container">
  <div id="home-banner" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'background3.jpg' %>')">
    <div class="banner-content text-center">
      <h2>Profitez de toute notre collection d'oeuvres d'art numériques en vous abonnant !</h2>
      <%= link_to "S'abonner", subscription_types_path, class: 'btn-wall' %>
    </div>
  </div>
</div>
