<div id="display">
  <%= render 'shared/media', url: @url, category: @category, rental: @is_rental %>
</div>

<% content_for :after_js do %>
  <script>
    App['user_<%= current_user.id %>'] = App.cable.subscriptions.create(
      { channel: 'UserChannel', user_id: <%= current_user.id %> },
      { received: (data) => {
        console.log(data)
        const element = document.querySelector('#display');
        element.innerHTML = data.media_partial
      } }
    )
  </script>
<% end %>
