<div id="display">
  <% if Rental.where(user: current_user, display: true).first.nil? && @upload.nil? %>
    Rien n'es affiché pour le moment!
  <% else %>
    <%= render 'shared/media', url: @url, category: @category, rental: @is_rental %>
  <% end %>
</div>

<% content_for :after_js do %>
  <script>
    App['user_<%= current_user.id %>'] = App.cable.subscriptions.create(
      { channel: 'UserChannel', user_id: <%= current_user.id %> },
      { received: (data) => {
        console.log(data)
        const element = document.querySelector('#display');
        element.innerHTML = data.media_partial
      } }
    )
  </script>
<% end %>
