.btn-wall {
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  background: #c70039;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.btn-wall-lg {
  width: 200px;
}

.btn-wall:hover {
  opacity: 0.8;
  background: #c70039;
  text-decoration: none;
  color: white;
  transition: background 0.3s ease;
}

.round-wall {
  color: white;
  border-radius: 50%;
  font-weight: bold;
  background: #c70039;
}

.round-wall:hover {
  color: white;
  border-radius: 50%;
  font-weight: bold;
  background: #c70039;
  opacity: 0.8;
}

.rental-btn-group {
  position: absolute;
  bottom: 2px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.small-wall {
  color: white;
  padding: 4px;
  border-radius: 4px;
  background: #c70039;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  font-size: 14px;
  margin-top: 10px;
}

.small-wall:hover {
  color: white;
  opacity: 0.8;

}

.rental-round-wall {
  color: white;
  border-radius: 50px;
  background: #c70039;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
}

.rental-round-wall:hover {
  color: white;
  opacity: 0.8;

}

.buttons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-btn {
  text-align: center;
  border-radius: 10px;
  font-size: 13px;
  color: white;
  background-color: #f8d0b0;
}

.btn-ghost-white {
  border: solid white 1px;
  border-radius: 20px;
  font-size: 20px;
}
