.media-show {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 34px;
  padding: 30px;
  flex-grow: 1;
  height: 398px;
  position: relative;
}

.media-photo {
  height: 400px;
  width: 600px;
  border-radius: 1px;
}

.media-page {
  display: flex;
  justify-content: space-between;
}

.media-add-rental {
  position: relative;
  bottom: -218px;
  right: -211px;
}

.media-desc {
  padding-right: 57px;
}

.media-artist-photo {
  padding-top: 20px;
}

.media-artist {
  border-top: 1px solid rgba(250, 250, 250, 0.6);
}

#profile-container {
  width: 687px;
}

.tags {
  padding-bottom: 10px;
}

.artist-desc {
  padding-top: 10px;
  width: 450px;
}

.options-title {
  padding-bottom: 20px;
}
