.media-cards {
  margin-top: 30px;
}

.media-card {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  height: 200px;
  border-radius: 2px;
  transition: all .5s ease-in-out;
  margin: 10px;
  background-position: center;
  background-size: cover;
}

.media-card:first-child {
  margin-left:0px;
}

.category-list {
  border-bottom: rgba(0, 0, 0, 0.2)
}

.category-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.categ-title {
  margin-top: 20px;
}

.media-padding {
  width: 100%;
  display: inline-block;
}

.unavailable-media-card {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  height: 200px;
  border-radius: 2px;
  transition: all .5s ease-in-out;
  margin: 10px;
  background-position: center;
  background-size: cover;
}

.media-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0;
  transition: all 0.2s;
}

.media-overlay:hover {
  opacity: 0.7;
}
