.empty-rental {
  display: flex;
  justify-content: space-around;
  align-items: center
}

.card-rental {
  height: 300px;
  margin: 10px;
  border-radius: 4px;
  transition: all .2s;
  background-position: center;
  background-size: cover;
}

.plus {
  i {
    color: white;
    font-size: 80px;
    opacity: 0.8;
  }
}

.empty-rental:hover {
  opacity: 0.6;
}

.full-rental-overlay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: all .2s;
  color: transparent;
}

.full-rental-overlay:hover {
  height: 100%;
  width: 100%;
  color: white;
  opacity: 0.7;
  text-decoration: none;
  span{
    text-decoration: none;
  }
}
